#linking{
    background-color: rgb(0, 0, 59);
    
}

.navigation{
    color: white;
    text-decoration: none;
    font-size: larger;
    padding: 4px;
}

.home{
    color: white;
    text-decoration: none;
    padding: 4px;
}

.linked{
    color: rgb(180, 178, 178);
    text-decoration: none;
    padding: 4px;
}

#dropdown{
    color: rgb(180, 178, 178);
    background-color: rgb(0, 0, 59);
    text-decoration: none;
    border: none;
    padding: 4px;
}

.disabled{
    color: rgb(180, 178, 178);
    text-decoration: none;
    background-color: rgb(0, 0, 59);
    border: none;
    border-radius: 5px;
    padding: 5px;
    margin: 2px;
}

.submitted{
     border: 1px solid green;
     background-color: rgb(0, 0, 59);
     color: green;
     margin: 2px;
     border-radius: 3px;
     padding: 3px;
}

.submitted:hover {
   background-color: green;
   color: white;
}

.hamburger {
    width: 30px;
    color: white;
    display: none;
    font-weight: 800;
}

 @media screen and (max-width :768px){
    .navigation{
        color: white;
        text-decoration: none;
        font-size: larger;
        padding: 2px;
    }

    .hamburger {
        display: block;

    }

    .home, .linked, #dropdown, .disabled, #search, .submitted {
        display: none;
    }
} 
