.sidebar {
    width: 200px;
    height: 100%;
    position: fixed;
    background-color: #eee;
    overflow: hidden;
    padding-top: 20px;
}

.sidenav a {
    color: #2b2b2b;
    text-decoration: none;
    font-size: 24px;
    display: block;
    padding: 10px;
}

.sidenav a:hover {
    color: #2b2bb2;
    transition: 0.3s;
}









