:root {
    --main-bg-color: #011212;
    --border: 100px;
    --width: 100px;
    --height: 100px;
}

body {
    background-color: var(--main-bg-color);
}

.ball {
    width: var(--width);
    height: var(--height);
    background-color: var(--main-bg-color);
    border-radius: calc(var(--border)/2);
}
