.grid-container {
    display: grid;
    gap: 0.1rem;
    grid-template-areas: 
    "green green green"
    "yellow red blue"
    "yellow red blue"
    "orange orange blue";
    grid-template-columns: 1fr 1fr 1fr;
}

#green {
    grid-area: green;
    grid-template-rows: 1;
}

#yellow {
    grid-area: yellow;
    grid-template-rows: 2;
}

#red {
    grid-area: red;
    grid-template-rows: 2;
}

#blue {
    grid-area: blue;
}

#orange {
    grid-area: orange;
    grid-template-rows: 1;
}

.yellowing {
    display: grid;
    grid-template-columns: auto auto;
}

.redding {
    display: grid;
    grid-template-columns: auto auto;
}